.laptop {
  padding-bottom: 100px;
  background-color: $brand-color;

  @include media-breakpoint-up('md') {
    padding-top: 100px;
  }

  .laptop-text {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @include media-breakpoint-up('md') {
      height: 430px;
      padding: 0;
    }
  }
}