.subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $brand-color;
  color: $white;

  h1 {
    margin-bottom: 50px;
    text-align: center;
  }

  .filter-button-group {
    max-width: 650px;
    margin: 0 auto 50px;

    button {
      width: 100%;
      margin-bottom: 5px;

      @include on-event() {
        outline: none;
        box-shadow: none;
      }

    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    .element-item {
      width: 33%;
      padding: 3px;

      img {
        border-radius: 8px;
      }
    }
  }

  .form-container{
    text-align: center;
    padding: 40px 20px 0 20px;
  }
}