.team {
  padding-top: 50px;
  padding-bottom: 50px;

  p {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .team-members-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .team-member {
      position: relative;
      padding: 5px;
      flex-basis: 100%;

      @include media-breakpoint-up(md){
        flex-basis: 50%;
      }

      @include media-breakpoint-up(lg){
        flex-basis: 33%;
      }

      @include on-event() {
        .team-member-overlay{
          opacity: 1;
        }
      }

      img {
        border-radius: 8px;
      }

      .team-member-text {
        width: 100%;

        p {
          text-align: center;
          margin-bottom: 0;
        }

        h2 {
          text-align: center;
          color: $dark-blue;
          font-size: 1.2rem;
          padding-top: 15px;
          padding-bottom: 0;
          a {
            color: $dark-blue;
            width: 30px;
            height: 30px;
            border: 1px solid $dark-blue;
            padding: 2px 7px;        
            text-align: center;
            line-height: 30px;
            border-radius: 50%;

            @include on-event() {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}