.testimonials {
  padding-top: 150px;
  padding-bottom: 100px;

  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    img {
      max-width: 100px;
    }

    .testimonial-role {

      margin-top: 20px;
      font-size: 1rem;
    }

    .testimonial-content {
      position: relative;
      max-width: 800px;
      margin: auto;
      text-align: center;
      font-size: 1.9rem;
      margin-bottom: 50px;

      &:after {
         content: "";
         display: block;
         background: url("/images/yellow-quotes.png") 50% no-repeat/contain;
         height: 50px;
         width: 50px;
         position: absolute;
         bottom: 0;
         right: 0;
       }

      &:before {
        content: "";
        display: block;
        background: url(/images/purple-quotes.png) 50% no-repeat/contain;
        height: 50px;
        width: 50px;
        position: absolute;
        top: -45px;
        left: 10px;
      }
    }

  }

  .slick-dots {

    li {

      &.slick-active {
        button {
          &:before {
            border: none;
            background-color: $brand-color;
          }
        }
      }

      button {
        &:before {
          content:"";
          border: 1px solid $black;
          background-color: transparent;
          border-radius: 50%;
          width: 10px;
          height: 10px;
        }
      }
    }
  }

}