// -----------------------------------------------------------------------------
// This file contains all styles related to the input component.
// -----------------------------------------------------------------------------

input.input {
  outline: none;
  border-radius: 30px;
  padding: 8px 15px;
  background-color: transparent;

  @include media-breakpoint-up(sm) {
    width: 350px;
  }
  width: 200px;

  &.input-white {
    color: $white;
    border: 1px solid $white;
  }

  &.input-white-full {
    background-color: $white;
    color: $black;
    border: 1px solid $white;
  }

  &.input-black {
    color: $black;
    border: 1px solid $black;
  }

  &.input-black-full {
    background-color: $black;
    color: $white;
    border: 1px solid $black;
  }
  
  &.input-wide {
    width: 100%;
    border-width: 2px;
    padding: 13px;
    font-weight: 700;
  }

}

